<div class="d-grid gap-2 mx-auto">
    <AuthorizeView>
        <Authorized>
            <a class="btn btn-secondary" style="text-decoration: none;" href="Identity/Account/Manage"
                data-toggle="tooltip" data-placement="top" title="Manage Your Account">
                @context.User.Identity?.Name
            </a>
            <form method="post" action="Identity/Account/Logout">
                <button type="submit" class="btn btn-secondary"
                    style="background-color: var(--bs-warning-bg-subtle);">Log out
                </button>
            </form>
        </Authorized>
        <NotAuthorized>
            <a href="Identity/Account/Login" role="button" class="btn btn-outline-info d-inline-block">Log in</a>
        </NotAuthorized>
    </AuthorizeView>
</div>
