<div class="d-grid gap-2">
    <AuthorizeView>
        <Authorized>
            <div class="row mx-2">
                <a class="btn btn-outline-info" role="button" href="Identity/Account/Manage">
                    @context.User.Identity?.Name
                </a>
            </div>
            <form method="post" action="Identity/Account/Logout" class="row mx-2">
                <button type="submit" class="btn btn-outline-danger">Log out</button>
            </form>
        </Authorized>
        <NotAuthorized>
            <a href="Identity/Account/Login" role="button" class="btn btn-outline-info">Log in</a>
        </NotAuthorized>
    </AuthorizeView>
</div>