<div class="top-row ps-5 navbar bg-black">
    <div class="container-fluid">
        <a class="navbar-brand" href="">
            <div class="d-inline-block mx-auto">
                <img src="https://thesquadpublic.blob.core.windows.net/public/The-Squad-100x100.png" />
                <span class="align-bottom pb-5 bs-light-text-emphasis" style="margin-right:-15rem">.games</span>
            </div>
        </a>
        <button title="Navigation menu" class="navbar-toggler" @onclick="ToggleNavMenu">
            <span class="navbar-toggler-icon"></span>
        </button>
    </div>
</div>

<div class="@NavMenuCssClass nav-scrollable" @onclick="ToggleNavMenu">
    <div class="nav-identity px-3">
                <LoginDisplay />
    </div>
    <nav class="flex-column">
        <div class="nav-item px-3">
            <NavLink class="nav-link" href="" Match="NavLinkMatch.All">
                <span class="oi oi-home ms-2" aria-hidden="true"></span> Home
            </NavLink>
        </div>
        <div class="nav-item px-3">
            <NavLink class="nav-link" href="counter">
                <span class="oi oi-plus ms-2" aria-hidden="true"></span> Counter
            </NavLink>
        </div>
    </nav>
</div>


@code {
    private bool collapseNavMenu = true;

    private string? NavMenuCssClass => collapseNavMenu ? "collapse" : null;

    private void ToggleNavMenu()
    {
        collapseNavMenu = !collapseNavMenu;
    }
}
