.profile-image {
    width: 75px;
    height: 75px;
    position: relative;
    top: 5px;
    left: 5px;
    border-radius: 50%;
    border: 5px solid white;
}

.game-image {
    width: 10em;
}
.stream-site {
    width: 6em;
    margin: 2em;
}