@page "/homecontent"

<PageTitle>Home</PageTitle>

<img style="width: 105%; overflow: hidden; margin-left: -3%; margin-right: auto; display: block; margin-top: -2%;" src="https://thesquadpublic.blob.core.windows.net/public/The-Squad-HomePage.png" />


<div class="text-center">
    <hr width="100%" height="3px" />
    <br />
    <h1>What is this place?</h1>
    <p>This is a website dedicated to the-squad, a group of gamers who play different games on a regular schedule. <br /> This is a place we can feature our members who stream, the game servers we play on, and the games we play.</p>
    <br />
    <hr width="100%" height="3px" />
    <br />
    <h1>Interested in playing with us? <span style="font-size: .9rem;"><i>(...wait what?)</i></span></h1>
    We have a discord server where we play and chat: 
    <a class="btn btn-primary" role="button" href="https://discord.gg/CJesXnFtHP" >Join the Discord</a> 
    <br />
</div>