@page "/videobg"
<div class="container-fluid opacity-25 w-100">
    <!--video src="https://thesquadpublic.blob.core.windows.net/public/Vod-1891121189-Offset-8020-1.webm" class="object-fit-cover" autoplay loop/-->
</div>